body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    color: #ccc;
    overflow: hidden;
    margin: 0%;
}

h1,
h2 {
    font-weight: 200;
    margin: 0.4rem;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
    color: #aaa;
}

/* Cursor */
.txt-type>.txt {
    border-right: 0.2rem solid #777;
}

a:link {
    text-decoration: none;
    color: #FFF;
}

a:visited {
    text-decoration: none;
    color: #FFF;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 20px;
    width: 100%;
    background: rgb(29, 29, 29);
    display: inline;
}

.legals {
    width: 150px;
    text-align: left;
    text-decoration: none;
    display: inline;
}

/** Full Page Scroll-Snapping HTML Sections */
main {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

section {
    height: 100vh;
    scroll-snap-align: center;
}

.container {
    position: static;
    height: 150px;
}

/** section colors */
.first {
    background: #333 url('images/background.jpg') no-repeat center center / cover;
    position: relative;
}

.second {
    background: #333 url('images/background02.jpg') no-repeat center center / cover;
    display: flex;
    align-items: center;
}

.third {
    background: #333 url('images/background02.jpg') no-repeat center center / cover;
    display: flex;
    align-items: center;
}

/** Section inner layout */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/** Reset / Basic styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.langIcon{
	height: 6vh;
	width: 6vh;
}

.socials{
    
}

progress{
    width: 50vw;
    height: 20px;
    background: #333;
    color: darkgreen;
    transition: all 0.5s;
}

.project-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.project-box {
    margin: 10px;
    padding: 20px;
    width: 250px;
    height: 200px;
    float: left;
    clear: left;
    border-radius: 25px;
    border: 2px solid #ffffff;
}

.project-title {
    font-size: 20px;
    margin-top: 5px;
}

.project-text {
    font-size: 35px;
}

#project-01 {
    background: #333 url('images/personal_website_code.png') no-repeat center center / cover;
}

#project-02 {
    background: #333 url('/images/lan_tick_tack_toe_code.png') no-repeat center center / cover;
}

#project-03 {
    background: #333 url('/images/TDCNB_code.png') no-repeat center center / cover;
}

#project-04 {
    background: #333 url('/images/TDCNB_code.png') no-repeat center center / cover;
}

@media(min-width: 1200px) {
    h1 {
        font-size: 5rem;
    }
}

@media(max-width: 800px) {
    .container {
        padding: 0 1rem;
    }

    .project-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-box {
        margin: 5px;
        padding: 20px;
        width: 200px;
        height: 150px;
        float: left;
        clear: left;
        border-radius: 25px;
        border: 2px solid #ffffff;
    }

    .project-title {
        font-size: 15px;
        margin-top: 5px;
    }

    .project-text {
        font-size: 25px;
    }

    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }

}